{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8">
  <title>درباره سایفرپانک</title>
  <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
</head>
<body style="direction: rtl;">
  <header>
    <h1>درباره سایفرپانک</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">خانه</a></li>
      <li><a href="/about">درباره سایفرپانک</a></li>
      <li><a href="/info">اطلاعات</a></li>
    </ul>
  </nav>

  <section id="main-content">
    <p>سایفرپانک (به انگلیسی: Cypherpunk) به افرادی گفته می‌شود با استفاده از رمزنگاری قوی و فناوری‌های تقویت‌کننده حریم خصوصی، از تغییرات اجتماعی و سیاسی حمایت می‌کنند تا حریم خصوصی مردم بیشتر یا حفظ شود. در اوایل گروه‌های غیررسمی از طریق لیست پست‌سپاری با هم ارتباط برقرار می‌کردند و هدفشان دستیابی به حریم خصوصی و امنیت از طریق استفاده فعال از رمزنگاری بود. سایفرپانک‌ها حداقل از اواخر دهه ۱۹۸۰ فعالیت جنبشی داشته‌اند. </p>
    <p>از مهم‌ترین دستاوردهای سایفرپانک می‌توان به خلق بیت‌کوین و مینت‌چیپ اشاره کرد. سایفرپانک‌ها باور داشتند که بانک‌های مرکزی و تحت کنترل آن‌ها قابل اعتماد نیستند و ارزهای دیجیتالی متعلق به دولت‌ها ممکن است تحت سانسور و دستکاری قرار گیرند. به همین دلیل، آن‌ها به دنبال ایجاد یک ارز اینترنتی مستقل بودند که همگانی باشد و تحت کنترل هیچ دولت یا نهادی نباشد. این موضوع به وجود ارزهای اشتراکی منجر شد. اما ایجاد این ارزها نیازمند حل مشکلاتی بود که هنوز کسی نتوانسته بود به طور کامل آن‌ها را حل کند.</p>
    <a href="https://mihanblockchain.com/the-untold-history-of-bitcoin-enter-the-cypherpunks/" target="_blank">برای اطلاعات بیشتر کلیک کنید!</a>

  </section>

  <footer>
    سایفرپانک. تمام حقوق محفوظ است.&copy;
  </footer>

</body>
</html>