{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8">
  <title>اطلاعات</title>
  <link rel="stylesheet" type="text/css" href="{% static 'info.css' %}">
</head>
<body style="direction: rtl;">
  <header>
    <h1>اطلاعات</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">خانه</a></li>
      <li><a href="/about">درباره سایفرپانک</a></li>
      <li><a href="/info">اطلاعات</a></li>
    </ul>
  </nav>

  <section id="main-content">
    <p>این وبسایت با استفاده از فریم ورک جنگو ساخته شده و تلاش بر توسعه جنبش سایفرپانک‌ها دارد. کدهای نوشته شده html و css با استفاده از ChatGPT و دانسته‌های قبلی نوشته شده.</p>
    <p>این وبسایت صرفاً برای تمرین ساخته شده و ارزش دیگری ندارد!</p>
    <p>Email: radmanhabibi2222@gmail.com</p>
    <a href="https://github.com/Radman2222/" target="_blank">Github: github.com/Radman2222</a>

  </section>

  <footer>
    سایفرپانک. تمام حقوق محفوظ است.&copy;
  </footer>

</body>
</html>
